@font-face {
    font-family: ARSMAQUETTE;
    src: url(../images/ARSMAQUETTEPRO-MEDIUM.TTF);
}

@font-face {
    font-family: NT-Wagner;
    src: url(../images/ntwagner.otf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.backg-career1 {
    background-image: url(../images/Career-backg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.backg-career1 h4,
.careercontent2 h4 {
    letter-spacing: 10px;
    color: #3F2016;
    font-family: ARSMAQUETTE;
}

.backg-career1 h1 {
    font-size: 4.5em;
    font-family: NT-Wagner;
    color: #F05223;
}

.hiring-info h4 {
    text-align: right;
    padding-right: 8%;
    /* padding-bottom: 5%; */
}

.backg-career1 button,
.hiring-info button {
    background-color: #F05223;
    border: none;
    color: white;
    padding: 8px 40px 11px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin-top: 18px;
    margin-left: 6px;
    font-family: ARSMAQUETTE;
    border-radius: 20px;
}

.backg-career1 button:hover {
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.2);

}

.backg-career1 span,
.careercontent2 span {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* page2 */

.backg-career2 {
    background-image: url(../images/Career-backg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    padding-bottom: 5%;
    position: relative;
    margin: 0 auto;
    top: -100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 95%;
    transition: 500ms;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}


.backg-career2.topauto {
    top: 0% !important;
    width: 100%;
}







.careercontent2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8%;
}

.careercontent2 h1 {
    font-size: 4.5em;
    font-family: NT-Wagner;
    color: #3F2016;
}

.careercontent2 p,
.hiring-info p {
    font-family: ARSMAQUETTE;
    color: #3F2016;
    font-size: 20px;
    line-height: 1.7;
}

.careercontent2 hr {
    width: 100px;
    border-bottom: solid 3px #3F2016;
}

.apply {
    margin: 12px;
}

.apply input {
    padding: 8px 18px;
    color: white;
    background-color: #3F2016;
}


.hiring-info {
    padding-left: 5%;
    margin-top: 3%;
}

.hiring-info h1 {
    font-size: 2.5em;
    font-family: NT-Wagner;
    color: #3F2016;
}

.hiring-info h4 {
    text-align: right;
}

.hiring-info hr {
    width: 90%;
    border-bottom: solid 4px #351003;
    margin-top: 3%;
}

.popup-content {
    width: 50%;
    height: 40%;
    text-align: center;
}